.landing-container {
  height: 100vh;
}

.landing-header-container {
  height: 10vh;
  border: 4px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing-header-title {
  width: 30%;
  margin-left: 3rem;
}

.landing-header-menu {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;
}

.landing-header-menu h3 {
  padding-left: 3rem;
}

.landing-header-menu h3:hover {
  cursor: pointer;
}

.search-container {
  height: 85vh;
  border: 4px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-card-container {
  border: 4px solid #000;
  height: 60vh;
  width: 60vw;
}

.search-header {
  height: 10vh;
  border: 4px solid #000;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
}

.search-header h1 {
  padding-left: 1.5rem;
}

.search-body {
  display: flex;
  justify-content: center;
}
